*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid{
  display: grid;
  gap:6.4rem;
}

.grid-two-cols{
  grid-template-columns: repeat(2,1fr);
}

.first-div {
  padding: 4.2rem;
  h1,p, .buttons{
    padding-top: 1rem;
  }
  p{
    font-size: 20px;
  }
  .buttons{
    display: flex;
    gap: 2rem;
    button{
      font-size: 25px;
      width: 200px;
      height: 50px;
      font-weight: 500;
      background: #2721ddae;
      border-radius: 8px;
    }
  }
  #last-btn{
  background: transparent;
}
}

/*start second home section */
.second-section{
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 6rem;
  
}
.grid-four-cols{
  grid-template-columns: repeat(4,1fr);
  box-shadow: 0px 0px 5px #ccc, 0px 0px 10px #ccc, 0px 0px 20px #ccc;
  border-radius: 10px;
  .div1{
    border-right: 2px solid black;
    padding: 1rem 0 2rem;
  }
  :last-child{
    border: none;
  }
  p{
    font-size: 30px;
    text-align: center;
  }
}
/* end second home section */
