.parrent-div{
    display: flex;
    justify-content: space-around;
}
.rignt-child{
    padding: 2rem;
    div, button{
        margin-top: 10px;
    }

    button{
        width: 100%;
        margin-top: 20px;
        height: 50px;
        border-radius: 20px;
        background: #03f;
        font-size: 25px;
    }
    button:hover{
        background: #047900;
        color: #29292a;
    }
    textarea{
        outline: none;
        font-size: 25px;
        border-radius: 20px;
        padding: 8px;
    }
}
.rignt-child input{
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 20px;
    padding: 8px;
    font-size: 25px;
}