.parrent{
    margin: 0;
    padding: 2.4rem;
    display: flex;
    justify-content: space-around;
}

.parrent .right-div{
    width: 32%;
    height: 65vh;
    padding: 3%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ccc,0px 0px 10px #ccc;
}
.right-div .title{
    color: blue;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
.parrent .right-div input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    padding: 8px;
    outline: none;
}
form label{
    font-size: 25px;
    padding-left: 5px;
}

.right-div form div{
    padding: 10px;
}
form div button{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 25px;
    background: #0ef;
}
form div button:hover{
    background: rgb(84, 240, 84);
    color: #484855bb;
}