.parrent {
    margin: 0;
    padding: 2.4rem;
    display: flex;
}

.right-child .title {
    font-size: 1.4rem;
    margin: 0 auto;
}

.right-child {
    padding: 2.4rem;
    width: 30%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ccc, 0px 0px 10px #ccc;
}

.right-child input {
    width: 100%;
    height: 50px;
    font-size: x-large;
    padding: 10px;
    outline: none;
    border-radius: 50px;
}

.right-child form div {
    padding: 10px;
}
.right-child div label{
    font-size: 25px;
    margin-left: 10px;
}
.right-child .btn button{
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border: 2px solid #ccc;
    font-size: 25px;
    background: #0ef;
    cursor: pointer;
}
.right-child .btn button:hover{
    background: rgb(84, 240, 84);
    color: #484855bb;
}

