table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: white;
}

td,
th {
    text-align: left;
}

.adminroute{
    display: flex;
    flex-direction: column;
    
}