.footer-section {
    width: 100%;
    /* border: 2px solid red; */
    position: fixed;
    bottom: 0;
    background: #000;
}

.parrent1 {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    p{
        :first-child{
            font-size: 15px;
        }
    }
}

i {
    font-size: 30px;
    cursor: pointer;
    margin: 4px;
}

.whats {
    color: green;
}

.insta {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.insta:hover,
.whats:hover,
.face:hover,
.loca:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.face {
    color: blue;
}

.loca {
    color: #333;
}
