.container{
    max-width: 140rem;
    width: 100%;
    position: fixed;
    padding: 1.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    box-shadow: 0px 0px 10px #000,0px 0px 20px #000;
    background: rgba(42, 57, 63, 0.9);
}
ul{
    display: flex;
    gap: 3.2rem;
}
li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #9955ed;
    font-size: 25px;
}