.parrent {
    .child {
        margin: 2rem;
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #29292a, 0px 0px 20px black;
        width: 30%;

        input,
        button {
            width: 100%;
            height: 50px;
            padding: 8px;
            font-size: 25px;
            border-radius: 20px;
            outline: none;
        }

        div {
            padding-top: 1rem;
        }

        button {
            margin-top: 2rem;
            background: #03f;
        }

        button:hover {
            background: #047900;
            color: #29292a;
        }
    }
}